html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

body {
  background: linear-gradient(242.65deg, #545665 6.09%, #2f3648 85.4%) center
    center fixed no-repeat;
  background-size: 100%;
}